<footer class="footer py-4 bg-light mt-auto border-top">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 mb-lg-0 mb-3 text-center text-lg-start text-muted">
        ©
        <script>document.write(new Date().getFullYear())</script> - Gestion RH | Tous droits réservés.
      </div>
      <div class="col-lg-6 text-center text-lg-end">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="/" class="nav-link text-muted">Accueil</a>
          </li>
          <li class="nav-item">
            <a href="/aide" class="nav-link text-muted">Aide</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link text-muted">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>